* { 
    margin: 0%;
    padding: 0%;
    font-family: Helvetica;
    box-sizing: border-box;
    text-shadow: #000 1px 1px;

}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("assets/backiee-277890-landscape.jpg");
    background-size: cover;
    background-position: center;

}